/*!
* © Devsfront
* Copyright Not A Number and his devs

                    .
                    d8b
                d88888b
                d888Y Y888b
            d888Y  .  Y888b
            d888Y   d8b   Y888b
        d888Y   d88888b   Y888b
            ""   d888Y Y888b   ""
            d888Y  .  Y888b
                ""   d8b   ""
                d88888b
8888b   88888     Y8b     8888b   88888
    8888b   888       '       8888b   888
    88888b  888               88888b  888
    888Y88b 888    88888b.    888Y88b 888
    888 Y88b888    "   "88b   888 Y88b888
    888  Y88888   .d8888888   888  Y88888
    888   Y8888   888   888   888   Y8888
88888   Y888   "Y88888"88 88888   Y888 
*---------------------------------------------
*
* MAIN.CSS
*
*/

/* Font ********************************************** */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');


/* VARIABLES ********************************************* */

:root{
    --color-principal: #3d60f4;
    --color-paragraphe: #abacae;
}



/* General code*/

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.8rem;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}



/* PAGE INDEX ********************************* */
/* PAGE INDEX ********************************* */
/* PAGE INDEX ********************************* */

/* navbar */

nav{
    width: 100%;
    height: 100px;
    position: fixed;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .3s;
}
  
nav.black{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    background: #fff;
    height: 50px;
    padding: 10px 100px;
    z-index: 3;
}

nav.black li a{
    padding: 10px 15px;
    line-height: 30px;
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
}

/* nav.black .logo a{
    text-decoration: none;
    color: #000;
    line-height: 30px;
    font-size: 1.7em;
    font-weight: bold;
} */

nav.black li a:hover,
nav.black li.active a{
    color: var(--color-principal);
    background-color: #3d5ff444;
}
  
.responsive{
    float: right;
    color: black;
    font-size: 1.2em;
    display: none;
}

.responsive a{
    color: var(--color-principal);
}

nav .logo{
    float: left;
}

nav .logo a img{
    height: 4rem;
    margin-top: -.5rem!important;
}

nav ul{
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

nav li{
    float: left;
}

nav li a{
    padding: 10px 15px;
    line-height: 4rem;
    text-decoration: none;
    color: #000;
    font-size: 1.8rem;
}

nav li a:hover,
nav li.active a{
    color: var(--color-principal);
    text-decoration: none;
}

header{
    background: url("../images/bg/hero-bg.png") no-repeat;
    min-height: 90vh;
    background-position: center;
    background-size: cover;

}

.header-content{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 90vh;
    text-align: center;
}

.header-content div h1{
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 4rem;
}

.header-content div button{
    color: white;
    background: var(--color-principal);
    border-radius: 5rem;
    border: 1px solid transparent;
    padding: .5rem 2.5rem;
    font-size: 1.8rem;
    outline: none;
    transition: .5s;
}

.header-content div button:hover{
    background: #000;
    transition: .5s;
}

.header-content div img{
    height: 25rem;
    margin-top: 2rem;
}

/* section entreprise */
#entreprises .pt-e{
    padding: 0;
}

#entreprises .item-entreprise{
    min-height: 30rem;
    padding: 2rem;
    display: flex;
    align-items: center;
}

#entreprises .item-entreprise h1{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3.5rem;
}

#entreprises .item-entreprise p{
    font-size: 1.8rem;
    color: #abacae;
}

#entreprises .item-entreprise button{
    color: white;
    background: var(--color-principal);
    border-radius: 5rem;
    border: 1px solid transparent;
    padding: .5rem 2.5rem;
    font-size: 1.8rem;
    outline: none;
    transition: .5s;
}

#entreprises .item-entreprise button:hover{
    background: black;
    transition: .5s;
}

#entreprises .item-entreprise-2{
    min-height: 30rem;
    background: #3d60f4;
    color: white;
    padding: 2rem;
}

.item-entreprise-2 .first-item{
    display: flex;
    margin-bottom: 2rem;
}

.item-entreprise-2 .first-item:hover .entreprise-img p{
    background: white;
    transition: .5s;
}

.item-entreprise-2 .first-item .entreprise-img{
    flex: 1;
}

.first-item .entreprise-img p{
    border: 2px solid white;
    width: 7rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: .5s;
    font-size: 1.7rem;
}

.item-entreprise-2 .first-item img{
    height: 4rem;
}

.item-entreprise-2 .first-item .entreprise-descript{
    flex: 4;
}

.first-item .entreprise-descript h2{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.item-entreprise-2 .first-item .entreprise-descript p{
    font-size: 1.7rem;
}

/* section service */
#service{
    background: #f9f9f9;
    padding: 5rem 0;
}

#service h1{
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 3.5rem;
}

#service .descript-service{
    color: #abacae;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

#service .item-service{
    background: #fff;
    margin: 15px 0;
    padding: 2rem;
    border-radius: 4px;
    text-align: left;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
}

#service .item-service img{
    height: 3rem;
}

#service .item-service h2{
    margin: 1.5rem 0;
    text-transform: uppercase;
    font-size: 2.5rem;
}

#service .item-service p{
    color: #abacae;
    font-size: 1.7rem
}

/* section action */
#action{
    padding: 5rem 0;
    background: linear-gradient(rgba(0, 0, 0, 0.719), rgba(0, 0, 0, 0.712)), url("../images/bg/business-1067978_1920.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

#action .content-action h1{
    font-weight: bold;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 3.5rem;
}

#action .content-action p{
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

#action .content-action button{
    color: white;
    background: var(--color-principal);
    border-radius: 5rem;
    border: 1px solid transparent;
    padding: .5rem 2.5rem;
    font-size: 1.8rem;
    outline: none;
    transition: .5s;
}

#action .content-action button:hover{
    background: black;
    transition: .5s;
}

/* popup confirmation */
.modal-window {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.603);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal-window > div {
    width: 40%;
    min-height: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff;
    color: black;
}

.modal-window header {
    font-weight: bold;
}

.modal-window h2 {
    font-size: 3.5rem;
    margin: 0 0 15px;
}
  
.modal-close {
    color: #aaa;
    position: absolute;
    right: 2%;
    text-align: center;
    top: 2%;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
}

.modal-close img{
    height: 1.5rem;
    transition: .5s;
}

.modal-close:hover {
    background: red;
}

.modal-close:hover img{
    transform: rotate(135deg);
    transition: .45s;
}

#open-modal .envoi-quiz button{
    padding: .5rem 2rem!important;
}

.modal-window .demande-form form input,
.modal-window .demande-form form textarea{
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem 1.5rem;
    border: 1px solid var(--color-principal);
    border-radius: .3rem;
    outline: none;
    font-size: 1.6rem;
}

.modal-window .demande-form form textarea{
    min-height: 10rem;
}

.modal-window .demande-form form button{
    color: white;
    background: var(--color-principal);
    border-radius: 5rem;
    border: 1px solid transparent;
    padding: .7rem 5rem;
    font-size: 1.8rem;
    outline: none;
    transition: .5s;
}

.modal-window .demande-form form button:hover{
    background: black;
    transition: .5s;
}


/* section equipe */
#equipe{
    padding: 5rem 0;
}

#equipe h1{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3.5rem;
}

#equipe .equipe-descript{
    font-size: 1.7rem;
    color: var(--color-paragraphe);
}

#equipe .item-equipe{
    margin: 1.5rem 0;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
    min-height: 30rem;
}

#equipe .item-equipe .img-equipe img{
    height: 22rem;
    width: 100%;
}

.item-equipe .content-equipe{
    text-align: center;
}

.item-equipe .content-equipe h3{
    font-weight: bold;
    font-size: 2rem;
}

.item-equipe .content-equipe p:nth-child(2){
    color: var(--color-paragraphe);
    font-size: 1.5rem;
    margin: 0;
}

#equipe .item-equipe .img-reseaux{
    padding: 1rem 0;
}

#equipe .item-equipe .img-reseaux img{
    height: 3rem;
}

/* section projets */
#projets{
    padding: 5rem 0;
    background: linear-gradient(rgba(0, 0, 0, 0.856), rgba(0, 0, 0, 0.849)), url("../images/bg/count-bg.jpg") no-repeat;
    min-height: 20rem;
    background-position: center;
    background-size: cover;
    color: white;
}

#projets .item-projet{
    text-align: center;
    background: rgba(255,255,255,.1) none repeat scroll 0 0;
    padding: 2rem;
}

#projets .item-projet img{
    height: 4rem;
    margin-bottom: 2rem;
}

#projets .item-projet h2{
    font-weight: bold;
    font-size: 2.5rem;
    position: relative;
    padding-bottom: 1rem;
}

#projets .item-projet h2::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 5rem;
    background: #fff;
}

#projets .projet-descript{
    font-size: 1.5rem;
}

/* section competence */
#competence{
    padding: 5rem 0;
    background: #f9f9f9;
}

#competence .img-competence img{
    width: 100%;
    height: 35rem;
}

#competence .content-competence h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3.5rem;
}

.content-competence .competence-descript{
    font-size: 1.7rem;
    color: var(--color-paragraphe);
    margin-bottom: 3rem;
}

/* progress bar */
/* .barras {
    width:320px; 
} */

.barras h3{
    margin: 0;
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold
}

.barra {
    width: 100%; 
    height:1rem; 
    background:#CCC; 
    margin:10px 0;
}

.barra-nivel {
    height:1rem; 
    background:var(--color-principal);
    width:1px;
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    transition: width 1s ease;
}

.valor-nivel {
    color:#fff; 
    margin-left:10px; 
    font-size: .5rem;
}

/* section testamonial */
#testamonial{
    padding: 5rem 0;
    min-height: 30rem;
    background: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.658)), url("../images/bg/testimonial.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}

#testamonial .item-testamonial{
    text-align: center;
}

#testamonial .item-testamonial img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin: auto;
}

#testamonial .item-testamonial h3{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
}

#testamonial .item-testamonial small{
    font-size: 1.4rem;
}

#testamonial .item-testamonial .testamonial-descript{
    font-size: 1.7rem;
    width: 70%;
    margin: auto;
    margin-top: .7rem;
}

#testamonial .owl-carousel .owl-nav button.owl-prev,
#testamonial .owl-carousel .owl-nav button.owl-next{
    display: none;
}

#testamonial .owl-theme .owl-dots, .owl-theme .owl-nav{
    margin-top: 2.5rem;
}

#testamonial .owl-theme .owl-dots .owl-dot{
    outline: none;
}

#testamonial .owl-theme .owl-dots .owl-dot span{
    background: #3d5ff4ea;
    zoom: 1.2;
}

#testamonial .owl-theme .owl-dots .owl-dot.active span{
    background: #3d5ff462;
}

/* section partner */
#partner{
    padding: 3rem 0;
}

#partner h1{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3.5rem;
}

#partner .partner-descript{
    font-size: 1.7rem;
    color: var(--color-paragraphe);
}

#partner .img-partner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#partner .img-partner img{
    height: 10rem;
    width: 10rem;
    margin: 1.5rem 1rem 0;
    filter: grayscale(1);
    transition: .5s;
}

#partner .img-partner img:hover{
    filter: grayscale(0);
    transition: .5s;
}

/* partner-slide */



/* section contact */
#contact{
    padding: 5rem 0;
    background: #f9f9f9;
    min-height: 30rem;
}

#contact .form-contact{
    background: #fff;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
    padding: 2rem 1.5rem;
    min-height: 35rem
}

#contact .form-contact form input,
#contact .form-contact form textarea{
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem 1.5rem;
    border: 1px solid var(--color-principal);
    border-radius: .3rem;
    outline: none;
    font-size: 1.6rem;
}

#contact .form-contact form textarea{
    min-height: 10rem;
}

#contact .form-contact form button{
    color: white;
    background: var(--color-principal);
    border-radius: 5rem;
    border: 1px solid transparent;
    padding: .7rem 5rem;
    font-size: 1.8rem;
    outline: none;
    transition: .5s;
}

#contact .form-contact form button:hover{
    background: black;
    transition: .5s;
}

#contact .localisation{
    background: #fff;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
    min-height: 35rem;
}

#contact .localisation iframe{
    height: 34rem;
}

/* FOOTER  ************************************* */
/* FOOTER  ************************************* */
/* FOOTER  ************************************* */

#footer{
    padding: 2rem 0;
    background: #34363a;
}

#footer .item-footer-logo a{
    color: var(--color-principal);
    text-decoration: none;
    font-weight: bold;
}

#footer .item-footer-logo img{
    height: 4rem;
    margin-right: 1rem;
}

#footer .item-footer-reseaux{
    text-align: center;
    padding-top: .5rem;
}

#footer .item-footer-reseaux img{
    height: 3rem;
    margin: 0 1rem;
    filter: grayscale(1);
}

#footer .item-footer-reseaux:hover img{
    filter: grayscale(0);
}

#footer .item-footer-signature{
    color: white;
    font-size: 1.5rem;
    text-align: right;
}



























/* MEDIA QUERY ***************************************** */

@media screen and (max-width:991px){
    /* page index */
    #projets .item-projet{
        margin-bottom: 2.5rem;
        padding: 4rem 2rem;
    }

    .item-entreprise-2 .first-item{
        display: block;
    }

    #entreprises .item-entreprise{
        position: sticky;
        top: 5rem;
    }

    .modal-window > div{
        width: 65%;
    }
}

@media only screen and (max-width: 768px) {
    /* menu deroulant */
    nav{
        width: 100%;
        height: 50px;
        position: fixed;
        padding: 10px;
        box-sizing: border-box;
        transition: .3s;
        background: rgba(0,0,0,0.8);
    }

    nav.black{
        padding: 10px;
    }

    .responsive{
        display: block;
        margin-top: 0;
    }

    nav .logo{
        float: left;
    }

    nav .logo a{
        text-decoration: none;
        color: #fff;
        line-height: 30px;
        font-size: 1.7em;
        font-weight: bold;
    }

    nav ul{
        display: none;
        margin-top: 4.2rem;
    }

    nav li{
        width: 100%;
        border-bottom: 1px solid #fff;
    }

    nav li a{
        display: inline-block;
        width: 100%;
        height: auto;
        line-height: normal;
        color: white;
        background: rgba(0, 0, 0, 0.877);
        text-align: center;
    }

    nav li a:hover,
    nav li.active a{
        color: var(--color-principal);
    }

    /* main-box index */
    .first-item .entreprise-img p{
        height: 6rem;
        width: 6rem;
    }
    
    .item-entreprise-2 .first-item img{
        height: 3rem;
    }

    #equipe .item-equipe .img-equipe img{
        height: 40rem;
    }

    #competence .img-competence{
        margin-bottom: 3rem;
    }

    #testamonial .item-testamonial .testamonial-descript{
        width: 90%;
    }

    #contact .form-contact{
        margin-bottom: 2rem;
    }

    .header-content div h1{
        font-size: 4rem;
    }

    .header-content div img{
        height: 20rem;
    }

    #main-box h1{
        font-size: 3rem!important;
    }

    #main-box h2{
        font-size: 2rem;
    }

    #main-box h3{
        font-size: 1.8rem;
    }

    #main-box p{
        font-size: 1.4rem;
    }

}

@media screen and (max-width:570px){
    .modal-window > div{
        width: 80%;
    }

    /* footer */
    #footer .item-footer-logo{
        text-align: center;
    }

    #footer .item-footer-signature{
        text-align: center;
    }

    #footer .item-footer{
        margin: 2rem 0;
    }
}

@media screen and (max-width:465px){
    /* index */
    nav ul{
        margin-top: .2rem;
    }

    .modal-window > div{
        width: 90%;
        padding: 3rem 1rem;
    }

    #equipe .item-equipe .img-equipe img{
        height: 35rem;
    }
}
  